<app-header title="characters"></app-header>

<ion-content class="app-background" [fullscreen]="true">
  <app-pagination
   [currentPage]="currentPage"
   [totalPages]="totalPages"
  (pageChange)="loadCharacters($event)"
>
 
</app-pagination>
  <div class="page-shell">

 <ion-grid>
    <ion-row>
      <ion-col
        size="6"
        size-md="4"
        *ngFor="let character of Characters">

        <div
          class="card-link"
          [routerLink]="['/main/characters', character.id]">

          <app-card
            [title]="character.name"
            [subtitle]="character.occupation"
            [description]="character.gender"
            [imageUrl]="IMAGE_CONSTANTS.baseUrl + '/' + ImageSize.MEDIUM + character.portrait_path">
          </app-card>

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
  </div>

<app-pagination
   [currentPage]="currentPage"
   [totalPages]="totalPages"
  (pageChange)="loadCharacters($event)"
>
 
</app-pagination>


</ion-content>