<app-header title="characters"></app-header>

<ion-content class="app-background" [fullscreen]="true">
  <ion-searchbar 
  animated="true" 
  placeholder="Search Characters"
  debounce="300"
  clear-input="true"
  (ionInput)="onSearch($event)"
  ></ion-searchbar>

 <ion-text *ngIf="!filteredCharacters.length" color="medium">
    <p class="ion-text-center">
      No se encontraron personajes.
    </p>
  </ion-text>
  <div class="page-shell">

 <ion-grid>
    <ion-row>
      <ion-col
        size="6"
        size-md="4"
        *ngFor="let character of filteredCharacters">

        <div
          class="card-link"
          [routerLink]="['/main/characters', character.id]">

          <app-card
            [title]="character.name"
            [subtitle]="character.occupation"
            [description]="character.gender"
            [imageUrl]="IMAGE_CONSTANTS.baseUrl + '/' + ImageSize.MEDIUM + character.portrait_path">
          </app-card>

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
  </div>

 

<app-pagination
   [currentPage]="currentPage"
   [totalPages]="totalPages"
  (pageChange)="loadCharacters($event)"
>
 
</app-pagination>


</ion-content>