ion-content {
  --background: #bdefff;
}

ion-grid {
  padding: 18px;
}

ion-row {
  align-items: stretch;
}

ion-col {
  display: flex;
  padding: 12px;
}

app-card {
  width: 100%;
  height: 100%;
  display: block;
}