<app-header title="episodes"></app-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let episode of Episodes"> 
        <app-card 
          [title]="episode.name" 
          [subtitle]="'Season ' + episode.season + ' - Episode ' + episode.episode_number" 
          [description]="episode.synopsis"
          [imageUrl]=" IMAGE_CONSTANTS.baseUrl + '/' + ImageSize.MEDIUM + episode.image_path">
        </app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
